extends ../layouts/common
block content 

  h1 New Tranfer 
  form(method="POST")
    .form-group
      label(for="account") Account
      input#account.form-control(type="text" name="accountId")
    .form-group
      label(for="amount") Amount
      input#amount.form-control(type="text" name="amount")

    button.btn.btn-primary  Tranfer