h1 User List
p Day la trang User

h2 #{title}

a(href="/users/create") Create Users

form(action="/users/search", method="GET")
  input(type="text" name="q")
  button Search

ul
  each user in users
    li
      span= user.name
      span &nbsp;
      a(href="/users/" + user.id) View

a(href="/") Back Home
